::-moz-selection {
    background: #93d344;
}

::selection {
    background: #93d344;
}

h1:first-of-type::selection {
    color: white;
}

.container_s {
    display: grid;
    grid-template-areas:
        "cabeza navegador"
        "titulo titulo"
        "seccion1 seccion1"
        "pie pie";
    background-color: #FFFDF7;
    width: 80%;
    margin: 0 auto;
    height: fit-content;
}


body {
    background-image: url(IMAGENES/portada.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden
}

.cabeza {
    display: flexbox;
    grid-area: cabeza;
    text-align: left;
}

.navegador {
    grid-area: navegador;
    display: flex;
    padding: 2%;
    padding-right: 8em;
    font-family: 'Oswald', serif;
}

.navegador a {
    padding: 1em;
    color: #2FB81A;
    text-decoration: none;
    font-size: 150%;
}

.botnav:hover {
    color: white;
    background-color: #FCAB10;
    border-radius: 15em;
}

.seccion1 {
    grid-area: seccion1;
    margin: 0 auto;
    padding-bottom: 100px;
    height: 750px;
    margin-top: 0px;
    width: 80%;
    margin: 0 auto;
    background-color: #FCAB10;
}

.form {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Montserrat', serif;
}

.form label {
    font-size: 120%;
}

.form h1 {
    color: white;
    font-family: 'Montserrat', serif;
    padding-bottom: 0px;
}

.input,
#message {
    margin: 10px 30px;
    text-align: center;
    padding: 1em .5em;
    border-radius: 3em;
    border: 0.15rem solid #2FB81A;
}

h1 {
    display: flex;
    color: #93d344;
    font-family: 'Oswald', serif;
    grid-area: titulo;
    font-size: 6vw;
    justify-content: center;
    padding: 40px;
    padding-top: 0px;
    text-align: center;
}

h2 { display: flex;
    color: #FFFDF7;
    font-size: 5vw;
    font-family: 'Oswald', serif;
    padding-top: 0.05rem;
}

.separador {
    filter: brightness(0) invert(1);
}

#menu img {
    margin: 10px;
    margin-left: 0;
    row-gap: 10px;
}

p {
    color: antiquewhite;
    font-family: 'Nunito', serif;
    text-align: justify;
    padding-bottom: 30px
}

th {
    background-color: #93d344;
    border-radius: 15em;

}

.pie {
    display: flex;
    justify-content: center;
    grid-area: pie;
    width: 80%;
    margin: 0 auto;
    background-color: #FFFDF7;
}

.pie a {
    padding: 20px;
}

.pie img {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form>div {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

form>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#btn {
    line-height: 1.5;
    background-color: #FFFDF7;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 15em;
    color: #2FB81A;
    font-family: 'Montserrat', serif;
    cursor: pointer;
}

#btn:hover {
    color: white;
    background-color: #93d344;
    border-radius: 15em;
}

@media (max-width: 412px) { 
    .navegador{
        text-align: center;
    }
    .navegador a{
        font-size: 1rem;

    }

    .container_s{ 
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
    height: 90rem;
    }

    .seccion1{ 
        width: 70%;
        height: 65rem;
    }
    h1{
font-size: 2rem;
    }
    h2{
font-size: 2rem;
    }
    .cabeza img{
       display: none; 
    }

}