::-moz-selection {
    background: #93d344;
}

::selection {
    background: #93d344;
}

h1:first-of-type::selection {
    color: white;
}

.container_s {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "cabeza navegador"
        "titulo titulo"
        "seccion1 seccion1"
        "pie pie";
    background-color: #FFFDF7;
    width: 80vw;
    margin: 0 auto;
    height: fit-content;
}


body {
    background-image: url(IMAGENES/portada.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden
}

.cabeza {
    display: flexbox;
    grid-area: cabeza;
    text-align: left;
}

.navegador {
    grid-area: navegador;
    display: flex;
    padding: 2%;
    padding-right: 8em;
    font-family: 'Oswald', serif;
    width: 90%;
}

.navegador a {
    padding: 1em;
    color: #2FB81A;
    text-decoration: none;
    font-size: 150%;
}

.botnav:hover {
    color: white;
    background-color: #FCAB10;
    border-radius: 15em;
}

ul {
    list-style: none;
}

.seccion1 {
    grid-area: seccion1;
    margin: 0 auto;
    padding-bottom: 10em;
    width: 80vw;
    height: 650px;
    background-color: #FCAB10;
    padding-top: 0px;
}

div h1 {
    display: flex;
    color: #FFFDF7;
    font-family: 'Montserrat', serif;
    grid-area: titulo;
    font-size: ;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    padding-top: 50px;
}

h1 {
    display: flex;
    color: #93d344;
    font-family: 'Oswald', serif;
    grid-area: titulo;
    font-size: 6vw;
    justify-content: center;
    padding: 40px;
    padding-top: 0px;
    text-align: center;
}

.separador {
    filter: brightness(0) invert(1);
}

h2 { 
    color: #FFFDF7;
    font-size: 5vw;
    font-family: 'Oswald', serif;
    padding-top: 0.05rem;
    display:flex;
    text-align: center;
    justify-content: center;
}

th {
    background-color: #93d344;
    border-radius: 15em;
}

.pie {
    display: flex;
    justify-content: center;
    grid-area: pie;
    width: 100%;
    background-color: #FFFDF7;
}

.pie a {
    padding: 20px;
}

.pie img {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form>div {
    display: flex;
    flex-direction: row;
}

form>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mapas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.mapa {
    margin-right: 20px;
}

.lugar {
    line-height: 2;
    background-color: #FFFDF7;
    font-size: 1rem;
    color: #2FB81A;
    background-color: #FFFDF7;
    border-color: #FCAB10;
    font-family: 'Montserrat', serif;
}

.lugar:hover {
    color: white;
    background-color: #93d344;
}

li {
    margin-top: 50px;
    list-style: none;
    text-align: center;
    border: 1px solid #2FB81A;
    cursor: pointer;
    user-select: none;
}

li a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 1em 2em;
}

ul {
    margin-top: 100px;
    margin-right: 20px;
}

.visible {
    animation: fadeIn 0.5s;

}

.invisible {
    display: none;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) { 

    .container_s{ 
    width: 100%;
    margin: 0 auto; 
    
    }

    .seccion1{ 
        width: 100%;
        margin: 0 auto;
        height: 50rem;
    }
    h1{
font-size: 4rem;
    }
    h2{
font-size: 4rem;
    }
}