::-moz-selection {
    background: #93d344;
}

::selection {
    background: #93d344;
}

h1:first-of-type::selection {
    color: white;
}

.container_s {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "cabeza navegador"
        "titulo titulo"
        "seccion1 seccion1"
        "seccion2 seccion2"
        "seccion3 seccion3"
        "pie pie";
    background-color: #FFFDF7;
    width: 80vw;
    margin: 0 auto;
    height: fit-content;
}

body {
    background-image: url(IMAGENES/portada.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden
}

.cabeza {
    display: flexbox;
    grid-area: cabeza;
    text-align: left;
}

.seccion1 {
    grid-area: seccion1;
    height: 650px;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    grid-template-rows: 200px 200px 200px;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    justify-content: center;
    padding-left: 55px;
}

.seccion1 img {
    object-fit: cover;
    width: 90%;
    height: 100%;
    border-radius: 2em;
}

.seccion2 {
    grid-area: seccion2;
    height: 500px;
    width: auto;
    align-items: center;
    background-color: #FFFDF7;
}

.seccion3 {
    grid-area: seccion3;
    display: table-row;
    justify-content: center;
    padding: 30px;
    background-color: #FCAB10;

}

.comida1 {
    grid-row: 1 / 3;
}

.comida3 {
    grid-row: 1 / 4;
}

.comida2,
.comida4,
.comida6 {
    grid-column: 3 / 5;
}

.comida5 {
    grid-row: 0 / 5;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.3);
}

h1 {
    display: flex;
    color: #93d344;
    font-family: 'Oswald', serif;
    grid-area: titulo;
    font-size: 6vw;
    justify-content: center;
    padding: 40px;
    padding-top: 0px;
    text-align: center;
}

h2 {
    color: antiquewhite;
    font-family: 'Oswald', serif;
    padding-right: 10px;
    margin-bottom: 0px;
}

h3 {
    color: 58544d;
    font-family: 'Montserrat', serif;
    font-size: 300%;
    text-align: center;
    justify-content: center;
    padding: 80px;
    padding-top: 100px;
}

#titulomenu {
    display: flex;
    color: #FFFDF7;
    font-family: 'Oswald', serif;
    grid-area: titulo;
    font-size: 500%;
    text-align: center;
    margin-top: 30px;
    padding-top: 0px;
}

.separador {
    filter: brightness(0) invert(1);
}

#menu img {
    margin: 10px;
    margin-left: 0;
    row-gap: 10px;
}

p {
    color: antiquewhite;
    font-family: 'Nunito', serif;
    text-align: justify;
    padding-bottom: 30px
}

.navegador {
    grid-area: navegador;
    display: flex;
    padding: 2%;
    padding-right: 8em;
    font-family: 'Oswald', serif;
}

.navegador a {
    padding: 1em;
    color: #2FB81A;
    text-decoration: none;
    font-size: 150%;
}

.botnav:hover {
    color: white;
    background-color: #FCAB10;
    border-radius: 15em;
}

th {
    background-color: #93d344;
    border-radius: 15em;

}

.pie {
    display: flex;
    justify-content: center;
    grid-area: pie;
    width: 100%;
    background-color: #FFFDF7;
}

.pie a {
    padding: 20px;
}

.pie img {
    padding: 20px;
}

.dia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.dia-inverso {
    flex-direction: row-reverse;
}

.dia p {
    padding-left: 1px;

}

.dia-inverso p {
    padding-right: 10px;
}

.dia-inverso h2 {
    text-align: right;
}

.dia img {
    border: 5px solid antiquewhite;
}

.fadeRight {
    opacity: 0;
    transform: translate(15vh, 0vh);
    transition: all 2s;
}

.fadeLeft {
    opacity: 0;
    transform: translate(-15vh, 0vh);
    transition: all 2s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.container {
    display: inline-flex;
    align-items: center;
}

.textos {
    height: 3rem;
    margin: auto;
    overflow: hidden;
}

.textos ul {
    margin: 0 0.625rem;
    padding: 0;
    animation: moveText 6s infinite;
}

.textos ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    list-style: none;
}

#texto1 {
    color: #FCAB10;
}

#texto2 {
    color: blueviolet;
}

#texto3 {
    color: crimson;
}

@keyframes moveText {

    20%,
    25% {
        transform: translateY(-33%);
    }

    45%,
    50% {
        transform: translateY(-66%);
    }

    75%,
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 575.98px) { 

}